{% extends 'index.html'%}{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-6" style="padding-top: 3%;">
            <img src="/media/{{song.thumbnail}}" style=" height: 25rem !important; ">
        </div>
        <div class="col-md-6 ">
            <h2 style="padding-top: 9%; font-weight: 550; "> Title : {{song.name}}</h2>
            <h2> Artist : {{song.artist}}</h2>
            <h2> Tag : {{song.tags}}</h2>
            <hr> <audio controls>
            <source src="/media/{{song.songs}} " type="audio/mp3 ">
            </audio>
        </div>
    </div>
    <div class="container " style="margin-top: 10%; ">
        <a href="http://192.168.43.179:8000/allsongs/">
            <button class="btn btn-outline-danger ">Back</button> </a>
    </div>
</div>{% endblock %}